node_modules/
.DS_Store
.idea/
packages/.DS_Store
packages/CB-serverless-backend/.DS_Store
packages/CB-serverless-frontend/.DS_Store
packages/CB-serverless-frontend/.env
packages/CB-serverless-backend/dynamoDb/shared-local-instance.db
.webpack
.serverless
npm-debug.log
