* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.error-message{
    color: #721c24;
    background-color: #f8d7da;
    padding: 1em 5em;
    border: 1px solid #f5c6cb;
    margin: 1em auto;
    border-radius: 3em;
}